.dashboard {
    display: flex;
    height: 100vh;
    gap: 4px;
  }
  
.sidebar {
    width: 250px;
    background-color: #f1f5f4; 
    padding: 20px;
    border: 1px solid black;
    

  }
  
  
.content {
    flex: 1; 
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid black; 
  }

  nav ul {
    list-style-type: none; 
    margin-top: 40%;
    
  }
  
  nav ul li {
    margin-bottom: 35px; 
    width: 80%;
    border: 1px solid black;
    padding: 10px;
    box-shadow: 2px 2px 12px gray;
    text-align: center;
    background-color: rgb(220, 238, 241);
  }

  nav ul li:hover{
    background-color: rgb(154, 158, 158);
  }
  
  nav a {
    text-decoration: none; 
    color: black; 
  }
 

  